@model PagedList.PagedList<SachOnline3.Models.SACH>
@using SachOnline3.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-center">SÁCH MỚI</h2>
<hr>
<div class="row text-center">
    @foreach (var sach in Model)
    {
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
            <div class="thumbnail">
                <img src="~/Image/@sach.Anhbia" style="height:400px; width: 250px" alt="QUYỂN 1 "
                     class="img-responsive img-rounded imgbook ">
                <div class="caption">
                    <a style="text-decoration: none;" href="@Url.Action("ChiTietSach", "BANSACH" ,new {id = sach.Masach})"><h3>@sach.Tensach</h3></a>
                    <p>@sach.Mota</p>
                    <a href="@Url.Action("ThemGioHang","GioHang" , new { MaSach = sach.Masach})" class="btn btn-warning" role="button">
                        <span class="glyphiconglyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart
                    </a>
                </div>

            </div>
        </div>
    }
</div>
<nav class="text-center">
    <div class="MenuTrang">
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    </div>

    <div class="pagination">
        @if (Model.PageNumber > 1)
        {
            <a class="btn btn-default" href="@Url.Action("Index", new { page = 1 })"><<</a>
        }
        @for (var page = 1; page <= Model.PageCount; page++)
        {
            <a class="btn @(Model.PageNumber == page ? "btn-primary" : "btn-default")" href="@Url.Action("Index", new { page = page })">@page</a>
        }
        @if (Model.PageNumber < Model.PageCount)
        {
            <a class="btn btn-default" href="@Url.Action("Index", new { page = Model.PageCount })">>></a>
        }
    </div>


    <style>
        .MenuTrang {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .pagination {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</nav>





