
@using SachOnline3.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<SACH>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 class="text-center">sach theo chu de </h2>
<hr>
<div class="row text-center">
    @foreach (var sach in Model)
    {
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
            <div class="thumbnail">
                <img src="~/Image/@sach.Anhbia" style="height:400px; width: 250px" alt="QUYỂN 1 "
                     class="img-responsive img-rounded imgbook ">
                <div class="caption">
                    <a style="text-decoration: none;" href="@Url.Action("ChiTietSach", "BANSACH" ,new {id = sach.Masach})"><h3>@sach.Tensach</h3></a>
                    <p>@sach.Mota</p>
                    <a href="#" class="btn btn-warning" role="button">
                        <span class="glyphiconglyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart
                    </a>
                </div>
            </div>
        </div>
    }
</div>


@*Tạo liên kết các trang*@
Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
    <div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Sachtheochude", new { iMaCD =
            ViewBag.MaCD, page = page}))
</div>
<style>
    .MenuTrang {
        display: inline;
        text-align: center;
    }
</style>


<nav class="text-center">
    <!-- Add class .pagination-lg for larger blocks or .pagination-sm for smaller blocks-->
    <ul class="pagination">

        <li>
            <a href="#" aria-label="Previous">
                <span aria-
                      hidden="true">&laquo;</span>
            </a>
        </li>

        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li class="disabled"><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>


